<% content_for :title, "Login - Coleure" %>
<h1>Login</h1>
<form action="">
	<p>
		<label for="login_email">Email</label>
		<input type="email" id="login_email">
	</p>
	<p>
		<label for="login_password">Password</label>
		<input type="password" id="login_password">
	</p>
	<p>
		<button>Login</button>
		<a href="#">Forgot your password?</a>
	</p>
</form>
