<% content_for :title, "Create an account - Coleure" %>

<h1>Create an account</h1>
<p class="lead">With an account, you will be able to manage your palettes and have them all in one place. We’re also working on new features like <strong>advanced color testing</strong>, <strong>exporting</strong> and more.</p>
<%= render partial: "form", locals: { user: @user } %>
